.sidebar {
  position: fixed;
  top: 0;
  left: -220px;
  width: 200px;
  height: 100%;
  padding-top: 60px;
  transition: left 0.3s ease;
  z-index: 999;
  border-right: 1px solid #ddd;
}
.sidebar.show {
  left: 0;
}
